<h2>新規登録</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>メールアドレス<br />
  <%= f.email_field :email %></div>

  <div>パスワード<br />
  <%= f.password_field :password %></div>

  <div>パスワード(確認用)<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "登録" %></div>
<% end %>

