<div id="comment_<%= c.id %>">
  <dl>
    <dt>
      <%= link_to c.created_at.strftime("%Y/%m/%d %H:%M"), comment_path(c.id) %>
      <div style="float: right">
        <%= link_to reply_count_label(c), comment_path(c.id) %>
      </div>
    </dt>
    <dd>
      <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span>
      <div class="comment-text" style="word-break:break-all;"><%= vrp_player_only_link(auto_link( simple_format(c.text))) %></div>
      <div class="comment-name">
        by <%= link_to c.user.default_name, user_tunes_path(c.user) %>
        <%= icon_img(c.user) %>
      </div>
      <br>
    </dd>
  </dl>
</div>
