<div id="comment_<%= c.id %>">
  <dl>
    <dt>
      <div class="comment-date">
        <%= link_to c.created_at.strftime("%Y/%m/%d %H:%M"), comment_path(c.id) %>
      </div>
      <div style="float: right">
        <%= link_to reply_count_label(c), comment_path(c.id) %>
      </div>
    </dt>
    <br>
    <dd>
      <div class="comment-text" style="word-break:break-all;">
        <%= vrp_player_show( auto_link( simple_format(c.text))) %>
      </div>
      <% if c.user == current_user %>
      <div class="comment-destroy">
        <%= link_to c.user.default_name, user_tunes_path(c.user) %>
        <%= icon_img(c.user) %>
        <%= link_to 'x', user_tune_comment_path(c.user,c.tune,c), :method => :delete,:remote => true, :confirm => "本当に削除しますか？" %>
      </div>
      <% else %>
      <div style="float: right;" class="comment-name">
        by <%= link_to c.user.default_name, user_tunes_path(c.user) %>
        <%= icon_img(c.user) %>
      </div>
      <% end %>
      <br>
    </dd>
  </dl>
</div>
 
