<% @comments.each do |c| %>
  <div id="comment_<%= c.id %>" data-role="collapsible" data-content-theme="a"> 
    <h3>
      <div><%= c.tune.title %></div>
      <span class="comment-date">
        <%= c.created_at.strftime("%Y/%m/%d %H:%M") %>
      </span>
      <span class="comment-name">
        <%= c.user.name %>
      </span>
 
    </h3>
    <span><%= mini_last_played_at(c.tune.progress_updated_at(c.user)) %></span>
    <span class="progress-bar"><%= c.tune.progress_val(c.user) %></span>
    <div class="progress-word">
      <%= auto_link( simple_format(c.text),:all, :target => "_blank") %>
    </div>

    <form method="post" class="add-reply-form form-inline">
      <textarea class="add-reply-form-msg" data-mini="true" maxlength="200" placeholder="Reply"></textarea>
      <a data-role="button" class="add-reply-button" data-id="<%= c.id %>" data-mini="true" data-inline="true">Send</a>
    </form>
    <div id="comment_reply_<%= c.id %>">
      <% c.replies.order("updated_at DESC").each do |r| %>
        <div id="reply_<%= r.id %>">
          <dl>
            <dt>
            <div class="comment-date">
              <%= r.created_at.strftime("%Y/%m/%d %H:%M") %>
              <%= r.user.name %>
            </div>
            </dt>
            <dd>
              <div class="comment-text">
                <%= auto_link( simple_format(r.text),:all, :target => "_blank") %>
              </div>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

