<div class="container">
  <div class="row">
    <div class="span7">
      <div id="content" class="ui-widget ui-widget-content ui-corner-all">
        <div id="comments">
          <div id="my_comments">
            <% c = @comment %>
            <dl>
              <dt>
                <%= c.created_at.strftime("%Y/%m/%d %H:%M") %> <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span>
                <div class="comment-name">
                  by <%= link_to c.user.default_name, user_tunes_path(c.user) %>
                  <%= icon_img(c.user) %>
                </div>
              </dt>
              <dd>
                <div class="comment-text"><%= auto_link( simple_format(c.text)) %></div>
              </dd>
            </dl>
          </div>
          <% if current_user %>
          <form method="post" class="add-reply-form">
            <textarea class="add-reply-form-msg"  maxlength="200" placeholder="Comment"></textarea>
            <a class="btn add-reply-button" data-id="<%= c.id %>"><i class="icon-pencil"></i> コメントする</a>
          </form>
          <% end %>
          <div id="replies">
            <% c.replies.order("updated_at DESC").each do |r| %>
            <div id="reply_<%= r.id %>">
              <dl>
                <dt>
                  <%= r.created_at.strftime("%Y/%m/%d %H:%M") %>
                  <div class="comment-name">
                    by <%= link_to r.user.default_name, user_tunes_path(r.user) %>
                    <%= icon_img(r.user) %>
                  </div>
                </dt>
                <dd>
                  <div class="comment-text"><%= auto_link( simple_format(r.text)) %></div>
                  <% if r.user == current_user %>
                  <div class="comment-destroy">
                    <%= link_to 'x', comment_reply_path(c,r), :method => :delete,:remote => true, :confirm => "本当に削除しますか？" %>
                  </div>
                  <% end %>
                  <br>
                </dd>
              </dl>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    showComment();
    applyYoutubin("#my_comments .comment-text a");
    applyYoutubin("#replies .comment-text a");
  });
</script>

