    <% @tunings.each do |t| %>
      <% next if t.number_of_tunes == 0 %>
      <li id="tuning_id_<%= t.id %>">
        <a href="#tune_list" data-id="<%= t.id %>" data-transition="slidefade">
          <h3 class="tuning-name">
            <%= t.name %>
            <% if t.capo != nil and t.capo != 0 %>
              <span> (Capo : <%= t.capo =%>)</span>
            <% end %>
          </h3>
          <% if t.number_of_tunes == 1 %>
            <p>1 tune. <span class="tuning-tune-title"><%= t.tunes.first.title %></span></p>
          <% else %>
            <p><%= t.number_of_tunes %> tunes. <span class="tuning-tune-title"><%= t.tunes.sample.title %> etc...</span></p>
          <% end %>
          <p><span id="tuning_progress_<%= t.id %>" class="progress-bar"><%= t.progress_average(@user) %></span></p>
        </a>
      </li>
    <% end %>
