<%= form_for(@user, :html => { :method => :put }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count,"error") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="user-info">
    <dl>
      <dt><%= f.label :name %> (公開、必須)</dt>
      <dd><%= f.text_field :name %></dd>
    </dl>

    <dl>
      <dt><%= f.label :email %> (非公開、必須)</dt>
      <dd><%= f.email_field :email %></dd>
    </dl>

    <dl>
      <dt><%= f.label :password %> (非公開、必須)</dt>
      <dd><%= f.password_field :password %></dd>
    </dl>

    <dl>
      <dt><%= f.label :password_confirmation %> (非公開、必須)</dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    </dl>
  </div>

  <div id="user-option">
    <dl>
      <dt><%= f.label :youtube_name %> (公開、任意)</dt>
      <dd><%= f.text_field :youtube_name %></dd>
    </dl>

    <dl>
      <dt><%= f.label :twitter_name %> (公開、任意)</dt>
      <dd><%= f.text_field :twitter_name %></dd>
    </dl>
  </div>

  <div class="float-clear"></div>

  <div><%= f.submit "Update" %></div>
<% end %>

