<div class="container">

<table class="table table-striped">
  <tr>
    <th></th>
    <th>ユーザ名</th>
    <th>Youtube</th>
    <th>twitter</th>
    <th>Touched</th>
    <th>Trying</th>
    <th>Completed</th>
    <th>最後の練習メモ</th>
  </tr>

  <% @users.each do |u| %>
    <tr>
      <td>
      <% if u.icon_url.blank? == false %>
        <%= image_tag(u.icon_url, :class => "user-icon-img") %>
      <% end %>
      </td>
      <td>
        <%= link_to u.default_name, user_tunes_path(u) %>
        <%= raw('<br><span class="you">This is You!</span>') if u == current_user %>
      </td>
      <td><%= u.youtube_name.blank? ? "-" : link_to(u.youtube_name, u.youtube_url) %></td>
      <td><%= u.twitter_name.blank? ? "-" : link_to(u.twitter_name, u.twitter_url) %></td>
      <td><span class="tune_s_num"><%= u.tunes_count('touched') %></span></td>
      <td><span class="tune_s_num"><%= u.tunes_count('doing') %></span></td>
      <td><span class="tune_s_num"><%= u.tunes_count('done') %></span></td>
      <td>
      <% c = u.comments.last %>
      <% if c != nil %>
        <div class="comment">
        <dl>
          <dt>
            <%= link_to c.created_at.strftime("%Y/%m/%d %H:%M"), comment_path(c.id)  %> 
            <div style="float: right">
              <%= link_to reply_count_label(c), comment_path(c.id) %>
            </div>
          </dt>
          <dd>
            <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span>
            <div class="comment-text" style="word-break:break-all;"><%= simple_format(truncate(c.text, :length => 26)) %></div>
          </dd> 
        </dl> 
        </div>
      <% end %>
    </td>
  </div>


    </tr>
  <% end %>
</table>
</div>
