<div id="content">
  <center>
  <%= image_tag ("guiter.jpg") %>
</center>
<p>
押尾コータローさんの音楽って素晴らしいですね。押尾さんの楽曲に憧れて日々コピーライフを楽しんでいますが、いろいろ手を広げ過ぎ一度弾けていた曲も弾けなくなったりと心配が尽きません。「コタれん」はそんなおっちょこちょいな押尾弾きのための練習支援アプリです。

  <h1>コタれんって</h1>
  <ul>
    <li>練習曲の進捗を管理できます。</li>
    <li>チューニングで曲の検索を行えます。</li>
    <li>練習の参考になる YouTube の関連動画を自動検索できます。</li>
  </ul>

  <h1>例えばこんな使い方</h1>
  <ul>
    <li>日々の練習の進捗をコツコツ記録！</li>
    <li>同一チューニングの練習曲を検索して一気に練習！</li>
    <li>好きなチューニングの曲を探して練習開始！</li>
    <li>練習中に YouTube の関連動画に簡単アクセス！</li>
    <li>一度弾けるようになった曲を検索して再練習！</li>
    <li>iPadからも使えます！</li>
  </ul>

  <h1>これからできるようにしたいこと</h1>
  <ul>
    <li>曲ごとに練習履歴のコメント入力機能</li>
    <li>他のユーザの練習帳閲覧</li>
    <li>ユーザ間のコミュニケーション機能</li>
  </ul>


</div>

<div id="sidebar">
<h2>ログイン</h2>
<%= form_tag('/users/sign_in') do -%>
  <p>
  メールアドレス</br>
  <%= text_field_tag "user[email]",'', :size => 35 %>
  </p>
  <p>
  パスワード</br>
  <%= password_field_tag "user[password]",'', :size => 35 %>
  </p>
  <button onclick="submit();">ログイン</button>
<% end -%>

<hr>
<h2>サンプルアカウント</h2>
新規登録する前に雰囲気を見たい場合は以下のサンプルアカウントでいじってみてください。
<%#サンプルログインフォーム%>
<%= form_tag('/users/sign_in',  :type => "hidden" ) do -%>
  <%= hidden_field_tag "user[email]", "sample@sample.kotaren" %>
  <%= hidden_field_tag "user[password]", "sample" %>
  <p><button onclick="submit();">サンプルアカウントでログイン</button></p>
<% end -%>

<hr>
<h2>新規登録</h2>
メアドとパスワードで簡単登録できます。(特にメール
送りつけたりしませんのでダミーでも大丈夫です。)

<p><button onclick="location.href='<%= new_user_registration_path %>';">新規登録して使ってみる</button></p>

<hr>

<h2>作っている人</h2>
<ul>
  <li>Twitter: <%= link_to '@volpe_hd28v', "http://twitter.com/#!/volpe_hd28v" %>
  <li>Github: <%= link_to 'volpe28v/kotaren',"https://github.com/volpe28v/kotaren" %>
</ul>
ご意見ご要望などあれば twitter でお願いします。

<hr>
<h2>更新履歴</h2>
<dl>
  <dt>2011/11/23</dt>
  <dd>ver0.1として公開</dd>
</dl>


</div>
