<div class="container">

<table class="table table-striped">
  <tr>
    <th class="tune-player-num-title">弾いている人数</th>
    <th class="tune-ranking-title">曲名</th>
    <th class="tuning-title">チューニング</th>
    <% if current_user %>
      <th class="ranking-title">あなたの進捗</th>
    <% end %>
    <th class="ranking-title">平均進捗</th>
  </tr>

<% @tune_ranking.each do |tune| %>
  <tr>
    <td class="tune-player-num-title"><span class='tune_s_num'><%= tune.active_count %></span> 人</td>
    <td class="tune-ranking-title">
      <% if current_user %>
        <%= link_to tune.title, user_tune_path(current_user, tune) %></td>
      <% else %>
        <%= tune.title %></td>
      <% end %>
    <td><%= tune.tuning.name %></td>
    <% if current_user %>
      <td><span id="progress_<%= tune.id %>" class="progress-bar"><%= tune.progress_val(current_user) %></span></td>
    <% end %>
    <td><span class="progress-bar"><%= tune.progresses.inject(0){|sum,p| sum += (p ? p.percent.to_i : 0) } / (tune.active_count > 0 ? tune.active_count : 1) %></span></td>
  </tr>
<% end %>
</table>

</div>

<script>
$(".progress-bar").each(function(elem){
  $(this).progressBar(progress_default_option);
});
</script>
