<div class="container">

<div id="user-list">
<table>
  <tr>
    <th>弾いている人数</th>
    <th class="tune-ranking-title">曲名</th>
    <th class="tuning-title">チューニング</th>
    <th class="ranking-title">あなたの進捗</th>
    <th class="ranking-title">平均進捗</th>
  </tr>

<% @tune_ranking.each do |tr| %>
  <tr>
    <td class="tune-count"><span class='tune_s_num'><%= tr[1].to_s %></span> 人</td>
    <td class="tune-ranking-title"><%= link_to tr[0].title, user_tune_path(current_user,tr[0]) %></td>
    <td><%= tr[0].tuning.name %></td>
    <td><span id="progress_<%= tr[0].id %>" class="progress"><%= tr[0].progress_val(current_user) %></span></td>
    <td><span class="progress"><%= tr[0].progresses.inject(0){|sum,p| sum += (p ? p.percent.to_i : 0) } / (tr[1] > 0 ? tr[1] : 1) %></span></td>
  </tr>
<% end %>
</table>
</div>

</div>

<script>
$(".progress").each(function(elem){
  $(this).progressBar(progress_default_option);
});
</script>
