<div class="container">

<table class="table table-striped">
  <tr>
    <th class="latest-date-title">弾いた日</th>
    <th class="user-icon-mini"></th>
    <th class="ranking-user-title">ユーザ名</th>
    <th class="tune-ranking-title">曲名</th>
    <th class="ranking-title">進捗</th>
    <th class="latest-tune-comment">最終練習メモ</th>
  </tr>
  <% @progresses.each do |p| %>
    <% next if p.percent == 0 %>
    <% next if is_sample_user(p.user) %>
    <tr>
      <td id="progress_updated_at_<%= p.tune.id %>"><%= last_played_at(p.tune.progress_updated_at(p.user)) %></td>
      <td>
      <% if p.user.icon_url.blank? == false %>
        <%= image_tag(p.user.icon_url, :class => "user-icon-img-mini") %>
      <% end %>
      </td>
      <td><%= link_to p.user.default_name, user_tunes_path(p.user) %>
      <td><%= link_to p.tune.title, user_tune_path(p.user,p.tune) %></td>
      <td class="progress-bar-area"><span class="progress-bar"><%= p.tune.progress_val(p.user) %></span></td>
      <td>
      <% c = p.user.comments.by_tune(p.tune).first %>
      <% if c != nil %>
        <div class="comment">
        <dl>
        <dt><%= c.created_at.strftime("%Y/%m/%d %H:%M") %> <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span></dt>
        <dd><div class="comment-text"><%= auto_link( simple_format(truncate(c.text, :length => 26))) %></div></dd> 
        </dl> 
        </div>
      <% end %>
    </td>
    </tr>

  <% end %>
</table>

</div>

<script>
$(".progress-bar").each(function(elem){
  $(this).progressBar(progress_default_option);
});
</script>
