<script>                                                                          
$(document).ready(function(){                                                     
  $('#detail-tabs').tabs();
  $(".progress").each(function(elem){                                             
    $(this).progressBar(progress_default_option);                                 
  });                                                                             

  $('#detail-tabs ul li a').click(
    function(){
      var comments_id = $(this).attr("id") + "s";

      $("#my_comments").hide();
      $("#other_comments").hide();
      $("#" + comments_id).fadeIn();
    }
  );

  $("#my_comment").click();
});
</script>     

<%= render "tunes/title" %>

<div id="detail-menu">
<%= link_to '楽曲リストに戻る', user_tunes_path(@user) %></p>

<div id="detail">
  <div id="detail-tabs">
    <div class="out-of-tabs">
  <p><span class="tune-big-title"><%= @tune.title %></span></p>
  
  <div class="album-title">
    <%= raw @tune.recordings.inject([]){|albums,r| albums << r.album.title}.join("<br>") %>
  </div> 
  <p><span class="tuning"><%= @tune.tuning.name =%></span></p>
  <% if @tune.tuning.capo != nil and @tune.tuning.capo != 0 %>
    <p><span class="tuning">(Capo : <%= @tune.tuning.capo =%>)</span></p>
  <% end %>

  <hr>
     
  <p><span id="progress_<%= @tune.id %>" class="progress"><%= @progress_val %></span>
  <% if current_user == @user %>
    <button onclick="progress_controller.down('<%= @user.id %>','<%= @tune.id %>')"><%= "<" %></button>
    <button onclick="progress_controller.up('<%= @user.id %>','<%= @tune.id %>')"><%= ">" %></button>
  <% end %>
  </p>
  <!--
  <% if current_user == @user %>
    <button >弾いたよ</button>
  <% end %>
  Last played at 
  -->

  <p>他に <span class="tune_s_num"><%= @other_member_count %></span> 人のユーザがこの曲を弾いています</p>

  <hr>
  </div>
  <div id="comments">
    <div class="out-of-tabs">
      <h3>練習記録</h3>
    </div>
  <ul>
    <li><a id="my_comment" href="#my_comments" class="blue0">Owner</a></li>
    <li><a id="other_comment" href="#other_comments" class="blue1">Other (<%= @other_comments.count %>)</a></li>
  </ul>

  <div id="my_comments">
    <% if @user == current_user %>
      <%= form_for(@comment, :url => user_tune_comments_path(@user,@tune,@comment)) do |f| %>
        <%= f.text_area :text %>
        <%= f.submit "登録" %>
      <% end %>
    <% end %>

    <% @comments.each do |c| %>
    <div id="comment_<%= c.id %>">
    <dl>
      <dt>
        <div class="comment-date"><%= c.created_at.strftime("%Y/%m/%d %H:%M") %></div>
        <% if @user == current_user %>
        <div class="comment-destroy">
          <%= link_to 'x', user_tune_comment_path(@user,@tune,c), :method => :delete,:remote => true, :confirm => "本当に削除しますか？" %>
        </div>
        <% end %>
      </dt>
      <br>
      <dd><div class="comment-text"><%= auto_link( simple_format(c.text)) %></div></dd>
    </dl>
    </div>
    <% end %>
  </div>

  <div id="other_comments">
    <% @other_comments.each do |c| %>
    <div id="comment_<%= c.id %>">
    <dl>
      <dt>
        <div class="comment-date"><%= c.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      </dt>
      <br>
      <dd><div class="comment-text"><%= auto_link( simple_format(c.text)) %></div>
        <div class="comment-name">by <%= link_to c.user.default_name, user_tune_path(c.user,c.tune) %></div>
      </dd>
    </dl>
    </div>
    <% end %>
  </div>
 
  </div>
</div>
</div>
</div>

<div id="players-list">
<div id="user-list">
  <table>
    <tr>
      <th class="ranking-title">ユーザ名</th>
      <th class="ranking-title">進捗率</th>
    </tr>
    <% @tune.progresses.sort{|a,b| b.percent <=> a.percent }.each do |pr| %>
      <tr>
        <td><%= link_to pr.user.default_name, user_tunes_path(pr.user) %></td>
        <td><span class="progress"><%= pr.percent %></span></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>

