    <% @albums.each do |a| %>
      <li id="album_id_<%= a.id %>">
        <a href="#tune_list" data-id="<%= a.id %>" data-transition="slidefade">
          <%= image_tag a.mini_thumbnail_url, :class => "album-img", :width => "52" %>
          <h3 class="tune-title"><%= a.title %></h3>
          <p><%= a.tunes.count %> tunes. <span id="album_progress_<%= a.id %>" class="progress-bar"><%= a.progress_average(@user) %></span></p>
        </a>
      </li>
    <% end %>

