<div class="container">
  <div class="row">
    <div class="span12"></div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>ログイン</legend>

        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
 
        <div class="control-group">
          <div class="controls">
            <%= f.submit "ログイン", :class => "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>

