<h2>ログイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div id="user-info">
    <dl>
      <dt><%= f.label :email %></dt>
      <dd><%= f.email_field :email %></dd>
    </dl>

    <dl>
      <dt><%= f.label :password %></dt>
      <dd><%= f.password_field :password %></dd>
    </dl>
  </div>

  <div class="float-clear"></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "ログイン" %></div>
<% end %>

