<div id="title">
<div class="user-name"><%= link_to @user.default_name, user_tunes_path(@user) %></div>
<div class="this-is-you">
  <% if @user == current_user %>
    <%= raw('<span class="you">This is You!</span>') %>
    <% unless current_user.is_sample? %>
      <%= link_to raw('<span>Edit Your Profile</span>'), edit_user_path(current_user) , :class => "btn btn-mini btn-info" %>
    <% end %>
  <% end %>
</div>


<div class="user-option">
  <dl>
    <dt>youtube</dt>
    <dd><%= @user.youtube_name.blank? ? "-" : link_to(@user.youtube_name, @user.youtube_url) %></dd>
  </dl>
  <dl>
    <dt>twitter</dt>
    <dd><%= @user.twitter_name.blank? ? "-" : link_to(@user.twitter_name, @user.twitter_url) %></dd>
  </dl>
</div>

<div class="user-option">
  <dl>
    <dt>guitar</dt>
    <dd><%= @user.guitar.blank? ? "-" : @user.guitar %></dd>
  </dl>
  <dl>
    <dt>tuning</dt>
    <dd><%= @user.tuning.blank? ? "-" : @user.tuning %></dd>
  </dl>
</div>

<div class="clear"></div>
<hr>
</div>


