  <div data-role="content" data-theme="a">
    <h3><%= @tune.title %></h3>
    <div class="ui-grid-a">
      <div class="ui-block-a">
      <% count = @tune.recordings.count %>
      <% @tune.recordings.each do |r| %>
        <a href="#tune_list" data-id="<%= r.album.id %>" data-transition="slidefade" class="tune-album-img" >
          <% if count == 1 %>
            <%= image_tag "albums/#{r.album.title}.jpg", :class => "album-img album-img-large" %>
          <% else %>
            <%= image_tag "albums/mini/#{r.album.title}_s.jpg", :class => "album-img" %>
          <% end %>
        </a>
      <% end %>
      </div>
      <div class="ui-block-b">
        <div class="album-title">
          <p>
            <%= raw @tune.recordings.inject([]){|albums,r| albums << r.album.title}.join("<br>") %>
          </p>
        </div>

        <div>
          <a class="same-tuning-btn" href="#tune_list" data-tuning="<%= @tune.tuning.id %>" data-inline="true" >
            <span class="tuning-name">
            <%= @tune.tuning.name %>
            <% if @tune.tuning.capo != nil and @tune.tuning.capo != 0 %>
              <span> Capo : <%= @tune.tuning.capo =%></span>
            <% end %>
            </span>
          </a>
        </div>
        <div class="tune-count">
          (<%= @tune.tuning.tunes.count %> tunes)
        </div>
        <%= first_played_at(@tune.progress_created_at(@user)) %>
      </div>
      </div>
    </div><!-- /grid-a -->

    <% if current_user == @user %>
    <div id="progress_response_<%= @tune.id %>" class="progress-response">
      <div id="progress_word_<%= @tune.id %>" class="progress-word"></div>
      <div id="progress_title_<%= @tune.id %>" class="progress-title"></div>
    </div>

    <form method="post" class="add-comment-form form-inline">
      <textarea class="add-comment-form-msg" data-mini="true" maxlength="200" placeholder="練習メモ..."></textarea>
      <a data-role="button" class="add-comment-button" data-mini="true" data-inline="true">記録する</a>
    </form>
    <% end %>

    <%= render "comments_smart_phone", { :user => @user , :tune => @tune } %>
  </div>


