    <% @tunes.each do |t| %>
      <li id="id_<%= t.id %>" class="tune_li <%= t.recordings.inject(""){|album_classes, r| album_classes << "album_#{r.album.id} "} %> <%= "tuning_#{t.tuning.id}" %>" >
        <a href="#tune_<%= t.id %>" data-transition="slidefade">
          <img src="/assets/albums/mini/<%= t.recordings[0].album.title %>_s.jpg" class="album-img">
          <h3 class="tune-title"><%= t.title %></h3>
          <p>
            <span class="tuning-name"><%= t.tuning.name %>
            <% if t.tuning.capo != nil and t.tuning.capo != 0 %>
              <span> (Capo : <%= t.tuning.capo =%>)</span>
            <% end %>
            </span>
          </p>
          <p>
            <span id="tune_list_progress_updated_at_<%= t.id %>">
              <%= mini_last_played_at(t.progress_updated_at(@user)) %>
            </span>
            <span id="progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span>
          </p>
        </a>
      </li>
    <% end %>
