    <% @tunes.each do |t| %>
      <li id="id_<%= t.id %>" class="tune_li <%= t.recordings.inject(""){|album_classes, r| album_classes << "album_#{r.album.id} "} %> <%= "tuning_#{t.tuning.id}" %>" >
        <a href="#tune_<%= t.id %>" data-transition="slidefade">
          <%= image_tag t.recordings[0].album.mini_thumbnail_url, :class => "album-img" %>
          <h3 class="tune-title"><%= t.title %></h3>
          <p>
            <span class="tuning-name"><%= t.tuning.name %>
            <% if t.tuning.capo != nil and t.tuning.capo != 0 %>
              <span> (Capo : <%= t.tuning.capo =%>)</span>
            <% end %>
            </span>
          </p>
          <p>
            <% p = t.progress_val_and_updated_at(@user) %>
            <span id="tune_list_progress_updated_at_<%= t.id %>">
              <%= mini_last_played_at(p[:updated_at]) %>
            </span>
            <span id="progress_<%= t.id %>" class="progress-bar"><%= p[:val] %></span>
          </p>
        </a>
      </li>
    <% end %>
