<div id="tune-list">
<table>
  <% @tunes.each do |t| %>
    <tr>
      <td class="tune-title"><%= link_to t.title, user_tune_path(@user,t) %></td>
      <td class="tuning-name"><%= t.tuning.name %></td>
      <td class="progress-bar-area"><span id="progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span></td>
      <% if current_user == @user %>
        <td class="progress-button">
          <button class="btn btn-mini" onclick="progress_controller.down('<%= @user.id %>','<%= t.id %>')"><%= "<" %></button>
          <button class="btn btn-mini" onclick="progress_controller.up('<%= @user.id %>','<%= t.id %>')"><%= ">" %></button>
        </td>
      <% end %>
      <td id="progress_updated_at_<%= t.id %>"><%= last_played_at(t.progress_updated_at(@user)) %></td>
    </tr>
  <% end %>
</table>
</div>

