<div data-role="page" id="tune_list" data-theme="a" class="swipe_back">
  <%= render "header_smart_phone" , { :state => "tune_list" } %>

  <div data-role="content">
    <div id="tune_list_loading" class="loading">
      <center>
        <img src="<%= image_path 'ajax-loader.gif' %> ">
        <div class="comment-one">
          <div class="comment-name"><%= @other_comment.tune.title %></div>
          <div class="comment-text" style="word-break:break-all;"><%= auto_link( simple_format(@other_comment.text),:all, :target => "_blank" ) %></div>
          <div class="comment-name"><%= @other_comment.user.name %> at <%= @other_comment.updated_at.strftime("%Y/%m/%d") %></div>
        </div>
      </center>
    </div>

    <div id="heatmap_tunes"></div>
    <ul id="tune_list_ul" data-role="listview">
    </ul>
  </div>
  <%= render "footer_smart_phone" , { :state => "tune_list" } %>
</div>

<script>
$(document).delegate('#tune_list','pageinit',function(){
  loadTuneList(<%= @user.id %>);

  var startDate = new Date();
  startDate.setMonth(startDate.getMonth() - 5);

  var parser = function(data) {
    return eval("(" + data + ")");
  };

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#heatmap_tunes",
    data: "/api/activities?user_id=<%= @user.id %>&start={{d:start}}&stop={{d:end}}",
    afterLoadData: parser,
    cellSize: 7,
    domain: "month",
    subDomain: "day",
    subDomainDateFormat: "%m/%d %Y",
    range: 6,
    tooltip: true,
    start: startDate,
    domainLabelFormat: "%b",
    itemName: ["activity", "activities"],
    legend: [1,3,7,10]
   });
});
</script>

<div data-role="page" id="album_list" data-theme="a">
  <%= render "header_smart_phone" , { :state => "album_list" } %>

  <div id="album_list_loading" class="loading">
    <center>
      <img src="<%= image_path 'ajax-loader.gif' %> ">
    </center>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="album_list_ul">
    </ul>
  </div>
  <%= render "footer_smart_phone" , { :state => "album_list" } %>
</div>
<script>
$(document).delegate('#album_list','pageinit',function(){
  loadAlbumList(<%= @user.id %>);
});
</script>
 
<div data-role="page" id="tuning_list" data-theme="a">
  <%= render "header_smart_phone" , { :state => "tuning_list" } %>

  <div id="tuning_list_loading" class="loading">
    <center>
      <img src="<%= image_path 'ajax-loader.gif' %> ">
    </center>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="tuning_list_ul">
    </ul>
  </div>
  <%= render "footer_smart_phone" , { :state => "tuning_list" } %>
</div>
<script>
$(document).delegate('#tuning_list','pageinit',function(event){
  loadTuningList(<%= @user.id %>);
});
</script>

<% @tunes.each do |t| %>
<div data-role="page" id="tune_<%= t.id %>" data-id="<%= t.id %>" data-theme="a" class="tune-page swipe_back">
  <div data-role="header" data-position="fixed">
    <a data-rel="back" data-icon="back" class="ui-btn-left">戻る</a>
    <h3>曲詳細</h3>
    <% if current_user %>
      <%= link_to 'Logout', destroy_user_session_path , :method => :get, :class => 'ui-btn-right' %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, :class => 'ui-btn-right'  %>
    <% end %>
  </div>

  <div id="tune_body_<%= t.id %>" class="tune-body"></div>

  <div id="tune_loading_<%= t.id %>" class="loading">
    <center>
      <img src="<%= image_path 'ajax-loader.gif' %> ">
    </center>
  </div>

  <div data-role="footer" data-position="fixed">
    <span id="tune_controller_<%= t.id %>"></span>
  </div>
</div>

<script>
$(document).delegate('#tune_<%= t.id %>','pageinit',function(event){
  loadTune(<%= @user.id %> ,<%= t.id %>)
});
</script>
<% end %>

<div data-role="page" id="activity_list" data-theme="a">
  <%= render "header_smart_phone" , { :state => "activity_list" } %>

  <div data-role="content">
    <div id="comment_list_loading" class="loading">
      <center>
        <img src="<%= image_path 'ajax-loader.gif' %> ">
      </center>
    </div>

    <div id="heatmap_activity"></div>
    <div id="comment_list_area"></div>
  </div>
  <%= render "footer_smart_phone" , { :state => "activity_list" } %>
</div>
<script>
$(document).delegate('#activity_list','pageinit',function(){
  loadCommentList(<%= @user.id %>);

  var startDate = new Date();
  startDate.setMonth(startDate.getMonth() - 5);

  var parser = function(data) {
    return eval("(" + data + ")");
  };

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#heatmap_activity",
    data: "/api/activities?user_id=<%= @user.id %>&start={{d:start}}&stop={{d:end}}",
    afterLoadData: parser,
    cellSize: 7,
    domain: "month",
    subDomain: "day",
    subDomainDateFormat: "%m/%d %Y",
    range: 6,
    tooltip: true,
    start: startDate,
    domainLabelFormat: "%b",
    itemName: ["activity", "activities"],
    legend: [1,3,7,10],
    displayLegend: false
   });
});
</script>

<div data-role="page" id="remove_reply_dialog" data-theme="a">
  <div data-role="header" data-position="fixed">
    <h3>リプライを削除</h3>
  </div>

  <div data-role="content">
    <p id="remove_reply_target" class="progress-word"></p>
    <p>リプライを削除しますか？</p>
    <a id="remove_reply_ok" data-role="button">OK</a>
    <a data-role="button" data-rel="back">Cancel</a>
  </div>
</div>
 
