<div data-role="page" id="todo_nav" data-theme="a">
  <div data-role="header" data-position="fixed">
    <a href="#option" data-icon="gear" class="ui-btn-left">Option</a>
    <h3>楽曲リスト</h3>
    <%= link_to 'Logout', [ :destroy, :user_session ], :class => 'ui-btn-right', 'rel' => 'external' %>
  </div>

  <div data-role="content">
    <ul data-role="listview">
    <% @tunes.each do |t| %>
      <li id="id_<%= t.id %>">
        <a href="#tune_<%= t.id %>" id="tule_li_<%= t.id %>" data-transition="slidefade">
          <%= image_tag ("albums/#{t.recordings[0].album.title}.jpg") %>
          <h3 class="tune-title"><%= t.title %></h3>
          <p>
            <span class="tuning-name"><%= t.tuning.name %></span>
          </p>
          <p>
            <span id="progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span>
          </p>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<script>
$(".progress-bar").each(function(elem){
  $(this).progressBar(progress_default_option);
});
</script>

<% @tunes.each do |t| %>
<div data-role="page" id="tune_<%= t.id %>" data-theme="a">
  <div data-role="header" data-position="fixed">
    <h1><%= t.title %></h1>
  </div>

  <div data-role="content" data-theme="a">
    <div class="album-title">
      <p>
        <%= raw t.recordings.inject([]){|albums,r| albums << r.album.title}.join("<br>") %>
      </p>
    </div> 

    <p><span class="tuning"><%= t.tuning.name =%></span></p>
    <% if t.tuning.capo != nil and t.tuning.capo != 0 %>
      <p><span class="tuning">(Capo : <%= t.tuning.capo =%>)</span></p>
    <% end %>

    <p><span id="tune_progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span>
    <% if current_user == @user %>
      <button data-inline="true" onclick="progress_controller.down('<%= @user.id %>','<%= t.id %>')"><font style="font-size: 14pt;"><%= "<" %></font></button>
      <button data-inline="true" onclick="progress_controller.up('<%= @user.id %>','<%= t.id %>')"><font style="font-size: 14pt;"><%= ">" %></font></button>
    <% end %>
    </p>

    <div id="progress_updated_at_<%= t.id %>">
      <%= last_played_at(t.progress_updated_at(@user)) %>
    </div>

    <% if current_user == @user %>
      <button onclick="progress_controller.play('<%= @user.id %>','<%= t.id %>')"><i class="icon-music icon-white"></i> 弾いたよ</font></button>
    <% end %>
    <a id="return_btn_<%= t.id %>" data-role="button" data-rel="back">戻る</a>
  </div>
</div>

<script>
$('#tune_<%= t.id %>').live( 'pageinit',function(event){
  $('#tune_<%= t.id %> .progress-bar').progressBar(progress_default_option);
});
</script>

<% end %>
