<script>
  $(document).ready(function(){
    $('ul.tab li a').click(
      function(){
        var status = $(this).html();
        $('#tune_status').val(status)
        $('#update_tunes').click()
        $('ul.tab li').removeClass("none");
        $(this).closest('li').addClass("none");
      }
    )
    $("#<%= @current_status[1] %>").click();
  });

  function updateElem(id, html){
    if ( $(id).html() == html ){return}

    $(id).hide();
    $(id).empty();
    $(id).html(html);
    $(id).fadeIn();
  }

</script>

<div id="menu">
  <h2>押尾コータロー楽曲リスト</h2>
<%= form_tag( url_for(:action => 'get_tunes_list'), :remote => true ) do %>
  <%= select_tag('album_title', options_for_select(["All Albums"] + @albums.map(&:title)) , :onchange => "$('#update_tunes').click();") %></br>
  <%= select_tag('tuning_name', options_for_select(["All Tunings"] + Tuning.all.map(&:name).uniq.sort) , :onchange => "$('#update_tunes').click();") %></br>
  <%= select_tag('tune_status', options_for_select(@statuses.map{|s| s[0]}, @current_status[0] ) , :onchange => "$('#update_tunes').click();", :style => "display: none") %>
  <%= submit_tag('Update', :id => "update_tunes", :style => "display: none") %>
<% end %>

  <br><br>
  <div><center>Displayed: <span id="display_num" class="tune_num" >0</span> tunes.</center></div>
  <hr>
  <center>
  <table>
    <tr><td>Touched: </td><td><span id="touched_num" class="tune_s_num" ><%= @touched_count %></span></td><td> tunes.</td></tr>
    <tr><td>Doing: </td><td><span id="doing_num" class="tune_s_num" ><%= @doing_count %></span></td><td> tunes.</td></tr>
    <tr><td>Done: </td><td><span id="done_num" class="tune_s_num" ><%= @done_count %></span></td><td> tunes.</td></tr>
  </table>
  </center>

</div>

<div id="main">
  <ul class="tab clear">
    <% @statuses.each_with_index do |s,i| %>
      <li><a id="<%= s[1] %>" href="#" class="blue<%= i %>"><%= s[0] %></a></li>
    <% end %>
  </ul>

  <div id="tune_list"></div>
</div>
