<script>
var UserID = <%= @user.id %>;
var CurrentUserID = <%= current_user ? current_user.id : -1  %>;

</script>

<ons-splitter>
  <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
    <ons-page>
      <% if current_user %>
      <ons-row style="padding: 10px 10px 0px 10px">
        Login as <%= current_user.name %>
      </ons-row>
      <% end %>

      <% if current_user %>
        <% if current_user.icon_url.blank? == false %>
      <ons-row style="padding: 10px 10px 0px 10px">
        <ons-col>
          <%= image_tag(current_user.icon_url, :class => "user-icon-img") %>
        </ons-col>
        <ons-col>
          <!--
          <ons-button modifier="quiet" onclick="location='/users/sign_out'">Edit</ons-button>
          -->
          <ons-button modifier="quiet" onclick="location='/users/sign_out'">Logout</ons-button>
        </ons-col>
      </ons-row>
        <% else %>
      <ons-row style="padding: 10px 10px 0px 10px">
        <span>
          <!--
          <ons-button modifier="quiet" onclick="location='/users/sign_out'">Edit</ons-button>
          -->
          <ons-button modifier="quiet" onclick="location='/users/sign_out'">Logout</ons-button>
        </span>
        <% end %>
      </ons-row>
      <% else %>
      <ons-row style="padding: 10px 10px 0px 10px">
        <ons-button modifier="quiet" onclick="location='/users/sign_in'">Login</ons-button>
      </ons-row>
      <% end %>

      <ons-list>
        <ons-list-header>Main Menu</ons-list-header>
        <ons-list-item onclick="fn.load('tunes.html')" tappable>
          <div class="left">
            <ons-input type="radio" name="categoryGroup" input-id="r-tunes" checked></ons-input>
          </div>
          <label class="center" for="r-tunes">Tunes</label>
        </ons-list-item>
        <ons-list-item onclick="fn.load('albums.html')" tappable>
          <div class="left">
            <ons-input type="radio" name="categoryGroup" input-id="r-albums"></ons-input>
          </div>
          <label class="center" for="r-albums">Albums</label>
        </ons-list-item>
        <ons-list-item onclick="fn.load('tunings.html')" tappable>
          <div class="left">
            <ons-input type="radio" name="categoryGroup" input-id="r-tuning"></ons-input>
          </div>
          <label class="center" for="r-tuning">Tuning</label>
        </ons-list-item>
        <ons-list-item onclick="fn.load('activity.html')" tappable>
          <div class="left">
            <ons-input type="radio" name="categoryGroup" input-id="r-activity"></ons-input>
          </div>
          <label class="center" for="r-activity">Activity</label>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content>
    <ons-navigator></ons-navigator>
  </ons-splitter-content>
</ons-splitter>


<ons-template id="tunes.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <!-- ko if: isTop() == true -->
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
        <!-- /ko -->
        <!-- ko if: isTop() != true -->
        <ons-back-button></ons-back-button>
        <!-- /ko -->
      </div>
      <div class="center">Tunes</div>
      <div class="right">
        <!-- ko if: isTop() == true -->
        <ons-toolbar-button data-bind="click: refresh"><ons-icon icon="fa-refresh"></ons-icon></ons-toolbar-button>
        <!-- /ko -->
      </div>
    </ons-toolbar>

    <div data-bind="if: items().length == 0">
      <div class="progress-bar progress-bar--indeterminate">
        <div class="progress-bar__primary"></div>
        <div class="progress-bar__secondary"></div>
      </div>
    </div>

    <!-- ko if: isTop() == true -->
    <ons-row style="padding: 10px 10px 0px 10px">
      <div id="heatmap_tunes"></div>
    </ons-row>
    <!-- /ko -->

    <ons-list data-bind="foreach: items">
      <ons-list-item tappable data-bind="click: $parent.detailsItem">
        <div class="left">
          <img class="list__item__thumbnail" data-bind="attr: {src: '/assets/albums/mini/' + albums()[0].title() + '_s.jpg'}">
        </div>
        <div class="center">
          <span class="list__item__title" data-bind="text: tune.title"></span>
          <span class="list__item__subtitle" data-bind="text: tuning.name"></span>
        </div>
        <div class="right">
          <span class="list__item__subtitle" data-bind="text: progress.percent() + '%'"></span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="details.html">
  <ons-page>
    <ons-toolbar>
      <div class="left"><ons-back-button></ons-back-button></div>
      <div class="center" data-bind="text: item.tune.title"></div>
    </ons-toolbar>
    <ons-row style="padding: 5px 5px 0px 5px">
      <ons-col>
        <!-- ko if: item.albums().length == 1 -->
        <img width="90%" data-bind="attr: {src: '/assets/albums/' + item.albums()[0].title() + '.jpg'}">
        <!-- /ko -->
        <!-- ko if: item.albums().length != 1 -->
          <!-- ko foreach: item.albums -->
            <img width="40%" data-bind="attr: {src: '/assets/albums/mini/' + title() + '_s.jpg'}">
          <!-- /ko -->
        <!-- /ko -->
      </ons-col>
      <ons-col>
        <!-- ko foreach: item.albums -->
          <div data-bind="text: title"></div>
        <!-- /ko -->
        <div data-bind="text: item.tuning.name"></div>
      </ons-col>
    </ons-row>
    <ons-row style="padding: 10px 5px 0px 5px">
      <ons-col>
        <!-- ko if: updated_date() != null -->
        last updated at <span class="list__item__subtitle" data-bind="text: updated_date"></span>
        <!-- /ko -->
      </ons-col>
      <ons-col width="50px">
        <span class="list__item__subtitle" data-bind="text: item.progress.percent() + '%'"></span>
      </ons-col>
    </ons-row>
    <ons-row style="padding: 0px 5px 0px 5px">
      <ons-col>
        <ons-progress-bar data-bind="value: item.progress.percent"></ons-progress-bar>
      </ons-col>
    </ons-row>

    <% if current_user == @user %>
    <ons-row style="padding: 5px 5px 0px 5px">
      <ons-col style="margin: 5px">
        <ons-button modifier="large" data-bind="click: do_minus10"><ons-icon icon="fa-minus"></ons-icon> 10</ons-button>
      </ons-col>
      <ons-col style="margin: 5px">
        <ons-button modifier="large" data-bind="click: do_plus"><ons-icon icon="fa-plus"></ons-icon></ons-button>
      </ons-col>
      <ons-col style="margin: 5px">
        <ons-button modifier="large" data-bind="click: do_plus10"><ons-icon icon="fa-plus"></ons-icon> 10</ons-button>
      </ons-col>
    </ons-row>
    <ons-row style="padding: 10px 5px 0px 5px">
      <textarea class="textarea" data-bind="textInput: inputComment" style="width:100%;height:50px;margin-top:4px;" placeholder="練習メモ"></textarea>
    </ons-row>
    <ons-row style="padding: 5px 5px 0px 5px">
      <ons-col style="margin: 5px">
        <ons-button modifier="large" data-bind="click: save_comment">記録</ons-button>
      </ons-col>
      <ons-col style="margin: 5px"></ons-col>
      <ons-col style="margin: 5px"></ons-col>
      <ons-col style="margin: 5px"></ons-col>
    </ons-row>
    <% end %>

    <ons-list style="padding: 10px 0px 0px 0px" data-bind="foreach: comments">
      <ons-list-item modifier="longdivider" tappable data-bind="click: $parent.detailsComment">
        <div class="center">
          <span class="list__item__title" data-bind="text: comment.text"></span>
          <span class="list__item__subtitle" data-bind="text: $parent.date_format(comment.created_at())"></span>
        </div>
        <div class="right">
          <span class="notification" data-bind="visible: replies().length > 0, text: replies().length"></span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="detailsComment.html">
  <ons-page>
    <ons-toolbar>
      <div class="left"><ons-back-button></ons-back-button></div>
      <div class="center" data-bind="text: item.tune.title"></div>
    </ons-toolbar>

    <ons-row style="padding: 10px 10px 0px 10px">
      <span class="list__item__title" data-bind="commentHtml: item.comment.text"></span>
      <span class="list__item__subtitle">
        <span data-bind="text: date_format(item.comment.created_at())"></span>
        <span style="float: right; margin: 0 5px 0 0 " data-bind="text: item.user.name"></span>
      </span>
    </ons-row>

    <% if current_user %>
    <ons-row style="padding: 10px 5px 0px 5px">
      <textarea class="textarea" data-bind="textInput: inputReply" style="width:100%;height:50px;margin-top:4px;" placeholder="リプライ"></textarea>
    </ons-row>
    <ons-row style="padding: 5px 5px 0px 5px">
      <ons-col style="margin: 5px">
        <ons-button modifier="large" data-bind="click: save_reply">リプライ</ons-button>
      </ons-col>
      <ons-col style="margin: 5px"></ons-col>
      <ons-col style="margin: 5px"></ons-col>
      <ons-col style="margin: 5px">
        <ons-button modifier="large--quiet" data-bind="visible: isShowDelete, click: delete_comment">削除</ons-button>
      </ons-col>
    </ons-row>
    <% end %>

    <ons-list modifier="inset" style="margin: 5px" data-bind="foreach: item.replies">
      <ons-list-item modifier="longdivider">
        <div class="center">
          <span class="list__item__title" data-bind="commentHtml: text"></span>
          <span class="list__item__subtitle">
            <span data-bind="text: $parent.date_format(updated_at())"></span>
            <span style="float: right; margin: 0 5px 0 0 " data-bind="text: user.name"></span>
          </span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="albums.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Albums</div>
    </ons-toolbar>

    <ons-list data-bind="foreach: items">
      <ons-list-item tappable data-bind="click: $parent.tunesList">
        <div class="left">
          <img class="list__item__thumbnail" data-bind="attr: {src: '/assets/albums/mini/' + title() + '_s.jpg'}">
        </div>
        <div class="center">
          <span class="list__item__title" data-bind="text: title"></span>
        </div>
        <div class="right">
          <span class="list__item__subtitle"></span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="tunings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Tunings</div>
    </ons-toolbar>

    <ons-list data-bind="foreach: items">
      <ons-list-item tappable data-bind="click: $parent.tunesList">
        <div class="center">
          <span class="list__item__title">
            <span data-bind="text: tuning.name"></span>
            <!-- ko if: tuning.capo() != 0 -->
            Capo 
            <span data-bind="text: tuning.capo"></span>
            <!-- /ko -->
          </span>
          <span class="list__item__subtitle" data-bind="text: tune_name"></span>
        </div>
        <div class="right">
          <span class="list__item__subtitle">
            <span class="notification" data-bind="text: count"></span>
          </span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>

<ons-template id="activity.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Activity</div>
    </ons-toolbar>

    <ons-list style="padding: 0px 0px 0px 0px" data-bind="foreach: comments">
      <ons-list-item modifier="longdivider" tappable data-bind="click: $parent.detailsComment">
        <div class="center">
          <span class="list__item__title" style="margin-bottom: 5px">
            <span data-bind="text: user.name"></span>
            <span style="float: right; margin: 0 5px 0 0 " data-bind="text: tune.title"></span>
          </span>
          <span class="list__item__subtitle">
            <span data-bind="text: comment.text"></span>
          </span>
          <span class="list__item__subtitle">
            <span data-bind="text: $parent.date_format(comment.created_at())"></span>
            <!-- ko if: replies().length > 0 -->
            <span style="float: right" class="notification" data-bind="text: replies().length"></span>
            <span style="float: right; margin: 0 5px 0 0 " data-bind="text: $parent.date_format(comment.updated_at())"></span>
            <!-- /ko -->
          </span>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-template>


<%= javascript_include_tag "kotaren_smart_phone" %>
