<div data-role="page" id="tune_list" data-theme="a" class="swipe_back">
  <%= render "header_smart_phone_iphone" , { :state => "tune_list" } %>

  <div data-role="content">
    <ul id="tune_list_ul" data-role="listview">
    <% @tunes.each do |t| %>
      <li id="id_<%= t.id %>" class="tune_li <%= t.recordings.inject(""){|album_classes, r| album_classes << "album_#{r.album.id} "} %> <%= "tuning_#{t.tuning.id}" %>" >
        <a href="#tune_<%= t.id %>" data-transition="slidefade">
          <img src="/assets/albums/mini/<%= t.recordings[0].album.title %>_s.jpg" class="album-img">
          <h3 class="tune-title"><%= t.title %></h3>
          <p>
            <span class="tuning-name"><%= t.tuning.name %>
            <% if t.tuning.capo != nil and t.tuning.capo != 0 %>
              <span> (Capo : <%= t.tuning.capo =%>)</span>
            <% end %>
            </span>
          </p>
          <p>
            <span id="progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span>
          </p>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
  <%= render "footer_smart_phone_iphone" , { :state => "tune_list" } %>
</div>

<script>
$(document).delegate('#tune_list','pageinit',function(){
  $("#tune_list .progress-bar").each(function(){
    $(this).progressBar(progress_default_option);
  });
});
</script>

<div data-role="page" id="album_list" data-theme="a">
  <%= render "header_smart_phone_iphone" , { :state => "album_list" } %>

  <div data-role="content">
    <ul data-role="listview" id="album_list_ul">
    <% @albums.each do |a| %>
      <li id="album_id_<%= a.id %>">
        <a href="#tune_list" data-id="<%= a.id %>" data-transition="slidefade">
          <img src="/assets/albums/mini/<%= a.title %>_s.jpg" class="album-img">
          <h3 class="tune-title"><%= a.title %></h3>
          <p><%= a.tunes.count %> tunes.</p>
          <p><span id="album_progress_<%= a.id %>" class="progress-bar"><%= a.progress_average(@user) %></span></p>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
  <%= render "footer_smart_phone_iphone" , { :state => "album_list" } %>
</div>
<script>
$(document).delegate('#album_list','pageinit',function(){
  $('#album_list_ul').delegate('a', 'click',function(){
    $('.tune_li').hide();
    $('.album_' + $(this).data('id')).show();
  });

  $('#album_list_ul .progress-bar').each(function(){
    $(this).progressBar(progress_default_option);
  });
});
</script>
 
<div data-role="page" id="tuning_list" data-theme="a">
  <%= render "header_smart_phone_iphone" , { :state => "tuning_list" } %>

  <div data-role="content">
    <ul data-role="listview" id="tuning_list_ul">
    <% @tunings.each do |t| %>
      <% next if t.tunes.count == 0 %>
      <li id="tuning_id_<%= t.id %>">
        <a href="#tune_list" data-id="<%= t.id %>" data-transition="slidefade">
          <h3 class="tuning-name">
            <%= t.name %>
            <% if t.capo != nil and t.capo != 0 %>
              <span> (Capo : <%= t.capo =%>)</span>
            <% end %>
          </h3>
          <p><%= t.tunes.count %> tunes.</p>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
  <%= render "footer_smart_phone_iphone" , { :state => "tuning_list" } %>
</div>
<script>
$(document).delegate('#tuning_list','pageinit',function(event){
  $('#tuning_list_ul').delegate('a', 'click', function(){
    $('.tune_li').hide();
    $('.tuning_' + $(this).data('id')).show();
  });
});
</script>

<% @tunes.each do |t| %>
<div data-role="page" id="tune_<%= t.id %>" data-id="<%= t.id %>" data-theme="a" class="tune-page swipe_back">
  <%= render "header_smart_phone_iphone" , { :state => "tune" } %>

  <div data-role="content" data-theme="a">
    <h2><%= t.title %></h2>
    <div class="album-title">
      <p>
        <%= raw t.recordings.inject([]){|albums,r| albums << r.album.title}.join("<br>") %>
      </p>
      <% t.recordings.each do |r| %>
        <a href="#tune_list" data-id="<%= r.album.id %>" data-transition="slidefade" class="tune-album-img" >
          <img src="/assets/albums/mini/<%= r.album.title %>_s.jpg" class="album-img">
        </a>
      <% end %>
    </div> 

    <center>
    <p><a class="same-tuning-btn" href="#tune_list" data-tuning="<%= t.tuning.id %>" data-role="button" data-inline="true" >
      <span class="tuning-name">
      <%= t.tuning.name %>
      <% if t.tuning.capo != nil and t.tuning.capo != 0 %>
        <span> Capo : <%= t.tuning.capo =%></span>
        <br/>
      <% end %>
      </span>
      (<%= t.tuning.tunes.count %> tunes)
    </a></p>

    <span id="progress_updated_at_<%= t.id %>">
      <%= last_played_at(t.progress_updated_at(@user)) %>
    </span>
    <span id="tune_progress_<%= t.id %>" class="progress-bar"><%= t.progress_val(@user) %></span>
  </center>

    <% if current_user == @user %>
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <button onclick="progress_controller.down('<%= @user.id %>','<%= t.id %>')"><font style="font-size: 14pt;"><%= "<<" %></font></button>
      </div>
      <div class="ui-block-b">
        <button onclick="progress_controller.play('<%= @user.id %>','<%= t.id %>')"><i class="icon-music icon-white"></i>+1</font></button>
      </div>
      <div class="ui-block-c">
        <button onclick="progress_controller.up('<%= @user.id %>','<%= t.id %>')"><font style="font-size: 14pt;"><%= ">>" %></font></button>
      </div>
    </div>
    <% end %>

    <%= render "comments_smart_phone_iphone", { :user => @user , :tune => t } %>
  </div>

  <%= render "footer_smart_phone_iphone" , { :state => "tune" } %>
</div>

<script>
$(document).delegate('#tune_<%= t.id %>','pageinit',function(event){
  $('#tune_' + $(this).data('id') + ' .progress-bar').each(function(){
    $(this).progressBar(progress_default_option);
  });

  $('#tune_<%= t.id %>').delegate('.same-tuning-btn', 'click', function(){
    $('.tune_li').hide();
    $('.tuning_' + $(this).data('tuning')).show();
  });

  $('#tune_<%= t.id %>').delegate('.tune-album-img', 'click', function(){
    $('.tune_li').hide();
    $('.album_' + $(this).data('id')).show();
  });
});
</script>
<% end %>
