<script>
  $(document).ready(function(){
    $('#tune-tabs').tabs();
    $('#tune-tabs ul li a').click(
      function(){
        var status = $(this).html();
        $('#tune_status').val(status)
        $('ul.tune-tab li').removeClass("none");
        $(this).closest('li').addClass("none");
        loadTunes();
      }
    );

    $('#menu-tabs').tabs();
    $('#menu-tabs ul li a').click(
      function(){
        var comments_id = $(this).attr("id") + "s";

        $("#my_comments").hide();
        $("#other_comments").hide();
        $("#" + comments_id).fadeIn();

        $('ul li').removeClass("none");
        $(this).closest('li').addClass("none");
      }
    );

    $("#<%= @current_status[1] %>").click();
    $("#my_comment").click();
  });

  function updateElem(id, html){
    if ( $(id).html() == html ){return}

    $(id).hide();
    $(id).empty();
    $(id).html(html);
    $(id).fadeIn();
  }

  function loadTunes(){
    $('#update_tunes').click();
    $('#tune-list').hide();
    $('#loading').show();
  }

</script>

<%= render "title" %>

<div id="menu">
  <div id="menu-tabs">
    <div class="out-of-tabs">
  <h2>押尾コータロー楽曲リスト</h2>
<%= form_tag( get_tunes_list_user_tunes_path(@user), :remote => true ) do %>
  <%= select_tag('album_title', options_for_select(["All Albums"] + @albums.map(&:title), @current_album ) , :onchange => "loadTunes();") %></br>
  <%= select_tag('tuning_name', options_for_select(["All Tunings"] + Tuning.all.map(&:name).uniq.sort, @current_tuning) , :onchange => "loadTunes();") %></br>
  <%= select_tag('tune_status', options_for_select(@statuses.map{|s| s[0]}, @current_status[0] ) , :onchange => "loadTunes();", :style => "display: none") %>
  <%= submit_tag('Update', :id => "update_tunes", :style => "display: none") %>
<% end %>

  <br><br>
  <div><center>Displayed: <span id="display_num" class="tune_num" >0</span> tunes.</center></div>
  <hr>
  <center>
  <table>
    <tr><td>Touched: </td><td><span id="touched_num" class="tune_s_num" ><%= @touched_count %></span></td><td> tunes.</td></tr>
    <tr><td>Doing: </td><td><span id="doing_num" class="tune_s_num" ><%= @doing_count %></span></td><td> tunes.</td></tr>
    <tr><td>Done: </td><td><span id="done_num" class="tune_s_num" ><%= @done_count %></span></td><td> tunes.</td></tr>
  </table>
  </center>
  <hr>
</div>

  <div id="comments">
  <div class="out-of-tabs">
    <h3>最近の練習記録</h3>
  </div>
  <ul>
    <li><a id="my_comment" href="#my_comments" class="blue0">Owner</a></li>
    <li><a id="other_comment" href="#other_comments" class="blue1">Other</a></li>
  </ul>

  <div id="my_comments">
  <% @latest_comments.each do |c| %>
    <dl>
      <dt><%= c.created_at.strftime("%Y/%m/%d %H:%M") %> <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span></dt>
      <dd><div class="comment-text"><%= auto_link( simple_format(c.text)) %></div></dd>
    </dl>
  <% end %>
  </div>

  <div id="other_comments">
  <% @other_comments.each do |c| %>
    <dl>
      <dt><%= c.created_at.strftime("%Y/%m/%d %H:%M") %> <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span></dt>
      <dd>
        <div class="comment-text"><%= auto_link( simple_format(c.text)) %></div>
        <div class="comment-name">by <%= link_to c.user.default_name, user_tunes_path(c.user) %></div>
      </dd>
    </dl>
  <% end %>
  </div>
  </div>
</div>
</div>

<div id="main">
  <div id="tune-tabs">
  <ul>
    <% @statuses.each_with_index do |s,i| %>
      <li><a id="<%= s[1] %>" href="#tune-list" class="blue<%= i %>"><%= s[0] %></a></li>
    <% end %>
  </ul>

  <div id="tune-list"></div>
  <center>
    <img id="loading" src="<%= image_path 'ajax-loader.gif' %> ">
  </center>
</div>
</div>
