<script>
  $(document).ready(function(){
    $('#tune-tabs').tabs();
    $('#tune-tabs ul li a').click(
      function(){
        var status = $(this).html();
        $('#tune_status').val(status)
        loadTunes();
      }
    );

    $('#menu-tabs').tabs();
    $('#menu-tabs ul li a').click(
      function(){
        var comments_id = $(this).attr("id") + "s";

        $("#my_comments").hide();
        $("#other_comments").hide();
        $("#" + comments_id).fadeIn();
      }
    );

    $("#<%= @current_status[1] %>").click();
    $("#my_comment").click();

    applyYoutubin("#my_comments .comment-text a");
    applyYoutubin("#other_comments .comment-text a");
  });

  function loadTunes(){
    $('#update_tunes').click();
    $('#tune-list').hide();
    $('#loading').show();
  }

</script>

<div class="container">

<%= render "layouts/title" %>

<div class="row">
  <div class="span12">

<div id="menu">
  <div id="menu-tabs">
    <div class="out-of-tabs">
      <center>
        <h3>押尾コータロー楽曲リスト</h3>
      <br>
  <div><center>Displayed: <span id="display_num" class="tune_num" >0</span> tunes.</center></div>
    <br>
  <table>
    <tr><td>Touched: </td><td style="text-align: right"><span id="touched_num" class="tune_s_num" ><%= @touched_count %></span></td><td> tunes.</td></tr>
    <tr><td>Doing: </td><td style="text-align: right"><span id="doing_num" class="tune_s_num" ><%= @doing_count %></span></td><td> tunes.</td></tr>
    <tr><td>Done: </td><td style="text-align: right"><span id="done_num" class="tune_s_num" ><%= @done_count %></span></td><td> tunes.</td></tr>
  </table>
  <hr>

<%= form_tag( get_tunes_list_user_tunes_path(@user), :remote => true ) do %>
  <%= select_tag('album_title', options_for_select(["All Albums"] + @albums.map(&:title), @current_album ) , :onchange => "loadTunes();") %></br>
  <%= select_tag('tuning_name', options_for_select(["All Tunings"] + Tuning.all.map(&:name).uniq.sort, @current_tuning) , :onchange => "loadTunes();") %></br>
  <%= select_tag('tune_status', options_for_select(@statuses.map{|s| s[0]}, @current_status[0] ) , :onchange => "loadTunes();", :style => "display: none") %>
  <%= submit_tag('Update', :id => "update_tunes", :style => "display: none") %>
<% end %>

  <%= link_to 'Owner\'s Albums page', user_albums_path(@user) %>

  <hr>
  </center>

</div>

  <div id="comments">
  <div class="out-of-tabs">
    <center>
      <h3>最近の練習記録</h3>
    </center>
  </div>
  <ul>
    <li><a id="my_comment" href="#my_comments" class="blue0">Owner</a></li>
    <li><a id="other_comment" href="#other_comments" class="blue1">Other</a></li>
  </ul>

  <div id="my_comments">
  <% @latest_comments.each do |c| %>
    <dl>
      <dt>
        <%= link_to c.created_at.strftime("%Y/%m/%d %H:%M"), comment_path(c.id) %>
        <div style="float: right">
          <%= link_to reply_count_label(c), comment_path(c.id) %>
        </div>
      </dt>
      <dd>
        <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span>
        <div class="comment-text"><%= vrp_player_only_link(auto_link( simple_format(c.text))) %></div>
      </dd>
    </dl>
  <% end %>
  </div>

  <div id="other_comments">
  <% @other_comments.each do |c| %>
    <dl>
      <dt>
        <%= link_to c.created_at.strftime("%Y/%m/%d %H:%M"), comment_path(c.id) %>
        <div style="float: right">
          <%= link_to reply_count_label(c), comment_path(c.id) %>
        </div>
      </dt>
      <dd>
        <span><%= link_to c.tune.title, user_tune_path(c.user,c.tune) %></span>
        <div class="comment-text"><%= vrp_player_only_link(auto_link( simple_format(c.text))) %></div>
        <div class="comment-name">by <%= link_to c.user.default_name, user_tunes_path(c.user) %></div>
      </dd>
    </dl>
  <% end %>
  </div>
  </div>
</div>
</div>

<div id="main">
  <div id="tune-tabs">
  <ul>
    <% @statuses.each_with_index do |s,i| %>
      <li><a id="<%= s[1] %>" href="#tune-list" class="blue<%= i %>"><%= s[0] %></a></li>
    <% end %>
  </ul>

  <div id="tune-list"></div>
  <center>
    <div id="loading">
      <img src="<%= image_path 'ajax-loader_kotaren.gif' %> ">
    </div>
  </center>
</div>
</div>
</div>

</div>
</div>
