<script>                                                                          
$(document).ready(function(){                                                     
  $(".progress").each(function(elem){                                             
    $(this).progressBar(progress_default_option);                                 
  });                                                                             

  $.ajax({
    dataType: "jsonp",
    data: {
      "vq": "押尾コータロー <%= @tune.title %>",
      "orderby": "relevance",
      "start-index": 1,
      "max-results": 12,
      "alt":"json-in-script"
    },
    cache: false,
    url: "http://gdata.youtube.com/feeds/api/videos",
    success: function (data) {
      $.each(data.feed.entry, function(i,item){
        var group = item.media$group;

        $("<div/>").addClass("thumbnail")
                   .append($("<img/>").attr("src", group.media$thumbnail[0].url)).append("<br/>")
                   .append(item.title.$t).append("<br/>") 
                   .append(item.author[0].name.$t).append("<br/>") 
                   .append($("<span/>").addClass("info").text("再生回数：" + ((item.yt$statistics == null) ? "0" : item.yt$statistics.viewCount)))
                   .click(function(){window.open(group.media$player[0].url, null)})
                   .appendTo("#videos");
      });
    }
  });
});
</script>     

<div id="detail-menu">
<%= link_to '押尾コータロー楽曲リストに戻る', user_tunes_path(@user) %></p>

<div id="detail">
  <p><span class="tune-big-title"><%= @tune.title %></span></p>
  
  <div class="album-title">
    <%= raw @tune.recordings.inject([]){|albums,r| albums << r.album.title}.join("<br>") %>
  </div>
      
    <p><span id="progress_<%= @tune.id %>" class="progress"><%= @tune.progress_val(@user) %></span>
  <% if current_user == @user %>
    <button onclick="progress_controller.down('<%= @user.id %>','<%= @tune.id %>')"><%= "<" %></button>
    <button onclick="progress_controller.up('<%= @user.id %>','<%= @tune.id %>')"><%= ">" %></button>
  <% end %>
  </p>

  <p><span class="tuning"><%= @tune.tuning.name =%></span></p>
  <% if @tune.tuning.capo != nil and @tune.tuning.capo != 0 %>
    <p><span class="tuning">(Capo : <%= @tune.tuning.capo =%>)</span></p>
  <% end %>

  <hr>
  <h3>練習記録</h3>
  <div id="comments">
    <%= form_for(@comment, :url => user_tune_comments_path(@user,@tune,@comment)) do |f| %>
      <%= f.text_area :text %>
      <%= f.submit "登録" %>
    <% end %>

      <% Comment.includes(:tune).includes(:user).where("tunes.id = ? and users.id = ?",@tune.id,@user.id).reverse.each do |c| %>
    <dl>
      <dt><%= c.created_at.strftime("%Y/%m/%d %H:%M") %></dt>
      <dd><%= simple_format(c.text) %></dd>
    </dl>
    <% end %>
  </div>
</div>
</div>


<div id="video-list">
  <h2>関連動画(YouTube)</h2>
  <div id="videos"></div>
</div>

