<script>                                                                          
$(document).ready(function(){                                                     
  $(".progress").each(function(elem){                                             
    $(this).progressBar(progress_default_option);                                 
  });                                                                             

  $.ajax({
    dataType: "jsonp",
    data: {
      "vq": "押尾コータロー <%= @tune.title %>",
      "orderby": "relevance",
      "start-index": 1,
      "max-results": 5,
      "alt":"json-in-script"
    },
    cache: false,
    url: "http://gdata.youtube.com/feeds/api/videos",
    success: function (data) {
      $("#debug").html(parseInt(data.feed.openSearch$totalResults.$t,10));

      $.each(data.feed.entry, function(i,item){
        var group = item.media$group;

        $("<div/>").addClass("thumbnail")
                   .append($("<img/>").attr("src", group.media$thumbnail[0].url)).append("<br/>")
                   .append(item.title.$t).append("<br/>")
                   .click(function(){window.open(group.media$player[0].url, null)})
                   .appendTo("#videos");
      });
    }
  });
});
</script>     

<table>
  <tr>
    <td class="tune-big-title"><%= @tune.title %></td>
    <td><span id="progress_<%= @tune.id %>" class="progress"><%= @tune.progress_val(current_user) %></span></td>
    <td>
      <button onclick="progress_controller.down('<%= @tune.id %>')">-</button>
      <button onclick="progress_controller.up('<%= @tune.id %>')">+</button>
    </td>
  </tr>
</table>

<div id="debug"></div>
<div id="videos"></div>


