<div class="container">
  <%= render "layouts/title" %>

  <div class="row">
    <div class="span3">
      <div id="detail">
        <div id="detail-tabs">
          <div class="out-of-tabs">
            <center>
              <h2><%= @tune.title %></h2>
              <div class="album-title">
                <% count = @tune.recordings.count %>
                <% @tune.recordings.each do |r| %>
                  <a href="<%= user_albums_path(@user) %>#album_<%= r.album.id %>">
                    <% if count == 1 %>
                      <%= image_tag "albums/#{r.album.title}.jpg", :class => "album-img album-img-large" %>
                    <% else %>
                      <%= image_tag "albums/mini/#{r.album.title}_s.jpg", :class => "album-img" %>
                    <% end %>
                  </a>
                <% end %>
                <div>
                  <% @tune.recordings.each do |r| %>
                    <a href="<%= user_albums_path(@user) %>#album_<%= r.album.id %>" class="tune-album-img">
                      <%= r.album.title %>
                    </a>
                    </br>
                  <% end %>
                </div>
              </div>
              <br>
              <p><span class="tuning"><%= @tune.tuning.name =%></span></p>
              <% if @tune.tuning.capo != nil and @tune.tuning.capo != 0 %>
                <p><span class="tuning">(Capo : <%= @tune.tuning.capo =%>)</span></p>
              <% end %>
              <hr>
              <p>
              <span id="progress_updated_at_<%= @tune.id %>">
                <%= last_played_at(@tune.progress_updated_at(@user)) %>
              </span>
                <span id="progress_<%= @tune.id %>" class="progress-bar"><%= @progress_val %></span>
              </p>
              <% if current_user == @user %>
                <button class="btn btn-inverse" onclick="progress_controller.down('<%= @user.id %>','<%= @tune.id %>')"><font style="font-size: 14pt;"><%= "<<" %></font></button>
                <button class="btn btn-inverse" onclick="progress_controller.play('<%= @user.id %>','<%= @tune.id %>')">+1 <i class="icon-music icon-white"></i></font></button>
                <button class="btn btn-inverse" onclick="progress_controller.up('<%= @user.id %>','<%= @tune.id %>')"><font style="font-size: 14pt;"><%= ">>" %></font></button>
              <% end %>
              <div>
                <%= first_played_at(@tune.progress_created_at(@user)) %>
              </div>

              <hr>
            </center>
          </div>
          <div id="comments">
            <center>
              <div class="out-of-tabs">
                <h3>練習記録</h3>
              </div>
            </center>
            <ul>
              <li><a id="my_comment" href="#my_comments" class="blue0">Owner</a></li>
              <li><a id="other_comment" href="#other_comments" class="blue1">Other (<%= @other_comments.count %>)</a></li>
            </ul>

              <% if @user == current_user %>
                <form method="post" class="add-comment-form">
                  <textarea class="add-comment-form-msg"  maxlength="199" placeholder="今日の練習はどうでしたか？(YoutubeのURLを貼るといいかも)"></textarea>
                  <a class="btn add-comment-button" data-url="<%= user_tune_comments_path(@user,@tune,@comment) %>"><i class="icon-pencil"></i>記録する</a>
                </form>
              <% end %>
            <div id="my_comments">
              <% @comments.each do |c| %>
                <%= render "comments/comment_body", {:c => c } %>
              <% end %>
            </div>

            <div id="other_comments">
              <% @other_comments.each do |c| %>
                <%= render "comments/comment_body", {:c => c } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="span7">
      <div id="sub-contents">
        <ul>
          <li><a id="ref-video" href="#ref-videos" class="blue0">関連動画(Youtube)</a></li>
        </ul>
        <div id="ref-videos"></div>
      </div>
    </div>
    <div class="span2">
      <div id="tune-players" class="ui-widget ui-widget-content ui-corner-all">
        <div class="out-of-tabs">
          <div id="players-header">
            <span>Players</span>
          </div>
          <ul class="nav nav-list tuning-list">
            <% @tune.touched_progresses.each do |p| %>
              <% pr = p[0] %>
              <li>
                <table width="100%">
                  <tr>
                    <td class="user-icon-mini">
                      <% if pr.user.icon_url.blank? == false %>
                        <%= image_tag(pr.user.icon_url, :class => "user-icon-img-mini") %>
                      <% end %>
                    </td>
                    <td><%= link_to pr.user.default_name, user_tune_path(pr.user, @tune) %></td>
                    <td align="right">
                      <% comments_count = p[1] %>
                      <% if comments_count > 0 %>
                        <span class="label label-info"><%= comments_count %></span>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#detail-tabs').tabs();
  $(".progress-bar").each(function(elem){
    $(this).progressBar(progress_default_option);
  });

  $('#detail-tabs ul li a').click(
    function(){
      var comments_id = $(this).attr("id") + "s";

      $("#my_comments").hide();
      $("#other_comments").hide();
      $("#" + comments_id).fadeIn();
    }
  );

  $("#my_comment").click();
  showCommentOnTune();

  $('#sub-contents').tabs();
  $('#sub-contents ul li a').click(
    function(){
      var comments_id = $(this).attr("id") + "s";

      $("#ref-videos").hide();
      $("#play-users").hide();
      $("#" + comments_id).fadeIn();
    }
  );

  loadYoutube('<%= @tune.title %>');
  applyYoutubin("#my_comments .comment-text a");
  applyYoutubin("#other_comments .comment-text a");

  $('.add-comment-form-msg').autofit({min_height: 70});
  $("#ref-video").click();
});
</script>


