<div id="user-header" class="row-fluid">
  <div class="span3">
    <div>
      <% if @user.icon_url.blank? == false %>
        <%= image_tag(@user.icon_url, :class => "user-icon-img") %>
      <% end %>
      <span class="user-name"><%= link_to @user.default_name, user_tunes_path(@user) %></span>
    </div>
    <div class="this-is-you">
      <% if @user == current_user %>
        <%= raw('<span class="you">This is You!</span>') %>
      <% end %>
    </div>
  </div>

  <div class="span7">
    <div class="user-option">
      <div id="heatmap"></div>
    </div>
  </div>

  <div class="span2">
    <div class="user-option">
      <dl>
        <dt>youtube</dt>
        <dd><%= @user.youtube_name.blank? ? "-" : link_to(@user.youtube_name, @user.youtube_url) %></dd>
      </dl>
      <dl>
        <dt>twitter</dt>
        <dd><%= @user.twitter_name.blank? ? "-" : link_to(@user.twitter_name, @user.twitter_url) %></dd>
      </dl>
      <dl>
        <dt>guitar</dt>
        <dd><%= @user.guitar.blank? ? "-" : @user.guitar %></dd>
      </dl>
      <dl>
        <dt>tuning</dt>
        <dd><%= @user.tuning.blank? ? "-" : @user.tuning %></dd>
      </dl>
    </div>
  </div>
</div>

<script>
  $(function($){
    var startDate = new Date();
    startDate.setMonth(startDate.getMonth() - 12);

    var parser = function(data) {
      return eval("(" + data + ")");
    };

    var cal = new CalHeatMap();
    cal.init({
      itemSelector: "#heatmap",
      data: "/api/activities?user_id=<%= @user.id %>&start={{d:start}}&stop={{d:end}}",
      afterLoadData: parser,
      cellSize: 7,
      domain: "month",
      subDomain: "day",
      subDomainDateFormat: "%m/%d %Y",
      range: 13,
      tooltip: true,
      start: startDate,
      domainLabelFormat: "%b",
      itemName: ["activity", "activities"],
      legend: [1,3,7,10],
      displayLegend: false
    });
  });
</script>
