<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Kotaren</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/pepper-grinder/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30509611-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body style="padding-top: 60px;">
  <header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">コタれん</a>
          <div class="nav-collapse">
            <ul class="nav pull-left">
            <% if current_user %>
              <li><%= link_to '自分の楽曲リスト', user_tunes_path(current_user) %>
              <li><%= link_to 'ランキング', ranking_index_path %>
              <li><%= link_to 'ユーザ一覧', list_users_path %>
              <% unless current_user.is_sample? %>
                <li><%= link_to 'ユーザ情報編集', edit_user_path(current_user) %>
              <% end %>
              <li><%= link_to 'ログアウト', destroy_user_session_path , :method => :delete %>
              <%= "<" + current_user.email + ">" %>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path  %>
              <li><%= link_to '新規登録', new_user_registration_path %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

    <%= yield %>

  <footer>
    <span>
    © 2011-2012 Naoki KODAMA. All rights reserved.
    </span>
  </footer>
</body>
</html>
