<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">

  <title>Kotaren</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/pepper-grinder/jquery-ui.css" %>
  <%#= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/ui-darkness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div class="logo">
    <%= image_tag "title.png" %>
  </div>

  <div class="login">
  <% if current_user %>
    <%= link_to '自分の楽曲リスト', user_tunes_path(current_user) %>
    |
    <%= link_to 'ユーザ一覧', list_users_path %>
    |
    <%= link_to 'ユーザ情報編集', edit_user_path(current_user) %>
    |
     <%= link_to 'ログアウト', destroy_user_session_path , :method => :delete %>
    |
    <%= "<" + current_user.email + ">" %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path  %>
    |
    <%= link_to '新規登録', new_user_registration_path %>
  <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </header>
  <div class="clear">
 
    <%= yield %>
</div>
</body>
</html>
