<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Kotaren</title>
  <%= stylesheet_link_tag    "application_smart_phone" %>
  <%= stylesheet_link_tag    "http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" %>
  <%= stylesheet_link_tag    "onsenui" %>
  <%= stylesheet_link_tag    "onsen-css-components" %>
  <%= csrf_meta_tags %>

</head>
  <body>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/OnsenUI/OnsenUI-dist/2.0.0-rc.18/js/onsenui.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/locale/ja.js" %>
    <%= javascript_include_tag "application_smart_phone" %>
    <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
    <%= javascript_include_tag "http://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js" %>

    <%= yield %>
  </body>
</html>
