<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>コタれん</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/pepper-grinder/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>

  <%= csrf_meta_tags %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30509611-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body style="padding-top: 60px;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=406190552742799";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

  <header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">コタれん</a>
          <div class="nav-collapse">
            <% if current_user %>
              <ul class="nav pull-left">
                <li><%= link_to raw('<i class="icon-home"></i>'), user_tunes_path(current_user) %>
                <li><%= link_to 'Albums', user_albums_path(current_user) %>
              </ul>
              <ul class="nav pull-right">
                <li><%= link_to 'Activity', ranking_latest_played_path %>
                <li><%= link_to 'Ranking', ranking_index_path %>
                <li><%= link_to 'AllUsers', list_users_path %>
                <% unless current_user.is_sample? %>
                  <li><%= link_to 'EditProfile', edit_user_path(current_user) %>
                <% end %>
                <li><%= link_to 'Logout', destroy_user_session_path , :method => :get %>
              </ul>
            <% else %>
              <ul class="nav pull-right">
                <li><%= link_to 'Activity', ranking_latest_played_path %>
                <li><%= link_to 'Ranking', ranking_index_path %>
                <li><%= link_to 'AllUsers', list_users_path %>
                <li><%= link_to 'Login', new_user_session_path  %>
                <li><%= link_to 'NewAccount', new_user_registration_path %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

    <%= yield %>

  <footer>
    <span>
    © 2011-2013 Naoki KODAMA. All rights reserved.
    </span>
  </footer>
</body>
</html>
